<%= render "layouts/navbar" %>

<div class="col-sm-10 col-sm-offset-2 no-padding main-container">
 <div class="property-display">
   <div class="property-info">

     <div class="info">
       <div class="property-address">
         <h1><%=@property.street%></h1>
         <h1><%=@property.city%>,
             <%=@property.state%>
             <%=@property.zipcode%></h1>
       </div>

       <div class="property-details">
         <div class="field-description estimate">
           <div id="zestimate"><%=number_to_currency(@property.estimate, precision: 0)%></div>
           <div class="description">Estimate</div>
         </div>

         <div class="field-description beds">
           <div><%= @property.bedrooms%></div>
           <div class="description">Beds</div>
         </div>

         <div class="field-description baths">
           <div><%= @property.baths%></div>
           <div class="description">Baths</div>
         </div>

         <div class="field-description sqft">
           <div><%=number_with_delimiter@property.sqft%></div>
           <div class="description">Sq Ft</div>
         </div>
       </div>
     </div>


   </div>
 </div>

 <div class="clearfix"></div>
 <div class="trend">
      <div class="temp-chart chart">
        <%= image_tag "listings.png", height: "396.4px", width: "445.2px" %>
      </div>
      <div class="history-chart chart">
        <!-- <img src="<%# @property.chart5year %>" alt="" /> -->
        <%= image_tag "chart.jpg", height: "396.4px", width: "640px" %>
      </div>
    </div>
    <div class="comp-map">
      <%= image_tag "map.png", height: "80%", width: "90%" %>
    </div>
  </div>
</div>
