<!-- Side NavBar -->

<div class="col-sm-2 no-padding side-nav">
 <nav class="nav-wrap">
   <ul class="nav">


   <li class="nav-group" style="white-space: nowrap;">
     <i class="fa fa-home house_icon" aria-hidden="true"></i>
     <a href="property_info" class="nav-text">Property Info</a>
   </li>


   <!-- <span style="white-space: nowrap;">
           <i class="fa fa-external-link"></i>
           some
       </span>
       very interesting Asteroids -->


   <li class="nav-group">
     <!-- <a class="nav-text"  data-toggle="modal" data-target="#analyzeModal">Analyze</a> -->
     <!-- <a href="analyze/<%= @property.id %>" class="nav-text">Analyze</a> -->
     <%= link_to 'Analyze', analyze_path(@property), class: 'nav-text'%>
     <!-- <a href="analyze" class="nav-text">Analyze</a> -->
     <i class="fa fa-bar-chart" aria-hidden="true"></i>
   </li>

   <li class="nav-group">
     <!-- <a href="googlemap" class="nav-text">Google Satellite View</a> -->
     <%= link_to 'Google Satellite View', googlemap_path, class: 'nav-text'%>
     <i class="fa fa-globe" aria-hidden="true"></i>
   </li>

   <li class="nav-group">
     <!-- <a href="chat_rooms" class="nav-text">Customer Support</a> -->
     <%= link_to 'Customer Support', chat_rooms_path, class: 'nav-text' %>
     <i class="fa fa-comments" aria-hidden="true"></i>
   </li>


   <li class="nav-group">
     <!-- <a href="contacts" class="nav-text">Give us your Feedback</a> -->
     <%= link_to 'Give us your Feedback', contacts_path, class: 'nav-text' %>
     <i class="fa fa-thumbs-up" aria-hidden="true"></i>
   </li>


   <li class="nav-group">
     <!-- <a href="videochat" class="nav-text">Video Chat</a> -->
     <%= link_to 'Video Chat', videochat_path, class: 'nav-text' %>
     <i class="fa fa-comments" aria-hidden="true"></i>
   </li>

   <li class="nav-group">
     <!-- <a href="research" class="nav-text">Extensive Analytics</a> -->
     <%= link_to 'Extensive Analytics', extensive_path, class: 'nav-text' %>
   </li>


   <li class="nav-group">
     <a href="#" class="nav-text">Comparables (Zillow API)</a>
   </li>

   <li class="nav-group">
     <a href="#" class="nav-text">Comparables (Between Properties Saved)</a>
   </li>


 </ul>
 </nav>
</div>
